@import "@/styles/mixins";

.past_clients_container {
	@include flex-center;
	flex-direction: column;
	padding: 0 1rem;

	.past_clients_content {
		@include flex-center;
		flex-direction: column;
		width: 100%;
		max-width: 1360px;

		.heading {
			font-size: 2rem;
			padding-bottom: 2rem;
		}

		.description {
			padding-bottom: 2rem;

			@media screen and (max-width: 470px) {
				text-align: center;
			}
		}

		.clients_container {
			@include flex-center;
			width: 100%;

			.aaa {
				@include flex-center;
				width: 100%;
				flex-direction: column;

				.bbb {
					@include flex-center;
					width: 100%;
				}

				.ccc {
					@include flex-center;
					width: 100%;
				}
			}

			.ddd {
				@include flex-center;
				width: 100%;
				flex-direction: column;

				.eee {
					@include flex-center;
					width: 100%;
				}

				.fff {
					@include flex-center;
					width: 100%;
				}
				.ggg {
					@include flex-center;
					width: 100%;
				}
			}
		}
	}
}
