.container {
	position: relative;
	height: 100vh;
	width: 100%;

	.hero_image {
		z-index: 1;
	}

	.main_hero_content {
		position: absolute;
		z-index: 2;

		h1,
		p {
			color: white;
			text-align: center;
		}
	}
}
