@import "@/styles/mixins";

.no_padding {
	padding-bottom: 0;
}

.margin_left_small {
	margin-left: 1rem;
}

.margin_left_medium {
	margin-left: 2rem;
}

.margin_left_large {
	margin-left: 3rem;
}

.margin_right_small {
	margin-right: 1rem;
}

.margin_right_medium {
	margin-right: 2rem;
}

.margin_right_large {
	margin-right: 3rem;
}

// MAIN STYLES //
.page_link_container {
	width: fit-content;

	.page_link_content {
		@include flex-start;
		padding-bottom: 0.8rem;

		.page_link_text {
			font-size: 1.3rem;
		}
	}

	.no_padding {
		padding-bottom: 0;
	}

	.page_link_underline {
		transition: all 0.3s ease;
		height: 2px;
		width: 100%;
		opacity: 0.7;
		background-color: var(--app-white);
	}

	.page_link_icon {
		transition: all 0.3s ease;
	}

	&:hover {
		cursor: pointer;
		.page_link_content {
			.page_link_icon {
				transform: translate(5px, -5px);
			}
		}

		.page_link_underline {
			opacity: 1;
		}
	}
}
