@import "@/styles/mixins";

.our_services_container {
	@include flex-center;
	width: 100%;

	.content {
		@include flex-center;
		flex-direction: column;
		width: 1360px;
		padding: 0 1rem;

		.heading_action_link_container {
			@include flex-center;
			width: 100%;
			padding-bottom: 2rem;

			.left_side {
				width: 50%;

				.heading_container.our_services_left_side_heading {
					@include component_heading_medium;
					@media screen and (max-width: 1250px) {
						.heading_text {
							font-size: 3rem;
						}

						.heading_line {
							width: 8rem;
							height: 0.2rem;
						}
					}

					@media screen and (max-width: 980px) {
						.heading_text {
							font-size: 2.6rem;
						}

						.heading_line {
							width: 5rem;
							height: 0.2rem;
						}
					}

					@media screen and (max-width: 790px) {
						.heading_text {
							font-size: 2rem;
						}

						.heading_line {
							width: 3.5rem;
							height: 0.2rem;
						}
					}
				}
			}

			.right_side {
				@include flex-end;
				width: 50%;
			}
		}

		.services_list {
			@include flex-center;
			width: fit-content;

			.service_container {
				@media screen and (max-width: 1400px) {
					--scale-factor: 0.92;
					width: calc(328px * var(--scale-factor));
				}

				@media screen and (max-width: 1260px) {
					--scale-factor: 0.86;
					width: calc(328px * var(--scale-factor));
				}

				@media screen and (max-width: 1200px) {
					--scale-factor: 0.78;
					width: calc(328px * var(--scale-factor));
				}

				@media screen and (max-width: 1070px) {
					--scale-factor: 0.7;
					width: calc(328px * var(--scale-factor));
				}

				.image_container {
					@media screen and (max-width: 1400px) {
						--scale-factor: 0.92;
						width: calc(328px * var(--scale-factor));
						height: calc(598px * var(--scale-factor));
					}

					@media screen and (max-width: 1260px) {
						--scale-factor: 0.86;
						width: calc(328px * var(--scale-factor));
						height: calc(598px * var(--scale-factor));
					}

					@media screen and (max-width: 1200px) {
						--scale-factor: 0.78;
						width: calc(328px * var(--scale-factor));
						height: calc(598px * var(--scale-factor));
					}

					@media screen and (max-width: 1070px) {
						--scale-factor: 0.7;
						width: calc(328px * var(--scale-factor));
						height: calc(598px * var(--scale-factor));
					}
				}

				.text_container {
					.name {
						margin-bottom: 1rem;
					}

					.description {
						@media screen and (max-width: 1070px) {
							line-height: 1rem;
						}
					}

					.name {
						@media screen and (max-width: 1070px) {
							font-size: 1.2rem;
							margin-bottom: 0.5rem;
						}
					}
				}
			}
			.service_card_two_column_container {
				@media screen and (max-width: 980px) {
					@include flex-center;
					flex-direction: column;
				}

				.service_card_container_small {
					@media screen and (max-width: 980px) {
						@include flex-center;
					}
					.service_container {
						@media screen and (max-width: 980px) {
							--scale-factor: 1;
							width: calc(328px * var(--scale-factor));
						}

						@media screen and (max-width: 775px) {
							--scale-factor: 0.9;
							width: calc(328px * var(--scale-factor));
						}

						@media screen and (max-width: 660px) {
							--scale-factor: 0.8;
							width: calc(328px * var(--scale-factor));
						}

						@media screen and (max-width: 560px) {
							--scale-factor: 0.7;
							width: calc(328px * var(--scale-factor));
						}

						@media screen and (max-width: 500px) {
							--scale-factor: 0.6;
							width: calc(328px * var(--scale-factor));
						}

						@media screen and (max-width: 421px) {
							--scale-factor: 0.5;
							width: calc(328px * var(--scale-factor));
						}

						@media screen and (max-width: 350px) {
							--scale-factor: 0.4;
							width: calc(328px * var(--scale-factor));
						}
						.image_container {
							@media screen and (max-width: 980px) {
								--scale-factor: 1;
								width: calc(328px * var(--scale-factor));
								height: calc(598px * var(--scale-factor));
							}

							@media screen and (max-width: 775px) {
								--scale-factor: 0.9;
								width: calc(328px * var(--scale-factor));
								height: calc(598px * var(--scale-factor));
							}

							@media screen and (max-width: 660px) {
								--scale-factor: 0.8;
								width: calc(328px * var(--scale-factor));
								height: calc(598px * var(--scale-factor));
							}

							@media screen and (max-width: 560px) {
								--scale-factor: 0.7;
								width: calc(328px * var(--scale-factor));
								height: calc(598px * var(--scale-factor));
							}

							@media screen and (max-width: 500px) {
								--scale-factor: 0.6;
								width: calc(328px * var(--scale-factor));
								height: calc(598px * var(--scale-factor));
							}

							@media screen and (max-width: 421px) {
								--scale-factor: 0.5;
								width: calc(328px * var(--scale-factor));
								height: calc(598px * var(--scale-factor));
							}

							@media screen and (max-width: 350px) {
								--scale-factor: 0.4;
								width: calc(328px * var(--scale-factor));
								height: calc(598px * var(--scale-factor));
							}
						}

						.text_container {
							.name {
								margin-bottom: 1rem;
							}

							.name {
								@media screen and (max-width: 1070px) {
									font-size: 1.5rem;
									margin-bottom: 0.5rem;
								}

								@media screen and (max-width: 980px) {
									font-size: 1.2rem;
								}

								@media screen and (max-width: 350px) {
									font-size: 1rem;
								}
							}

							.description {
								@media screen and (max-width: 1070px) {
									line-height: 1.5rem;
								}

								@media screen and (max-width: 980px) {
									font-size: 0.9rem;
								}

								@media screen and (max-width: 421px) {
									font-size: 0.8rem;
									line-height: 1rem;
								}
							}
						}
					}
				}
			}
		}
	}
}
