@import "@/styles/mixins";

.navbar_container {
	position: relative;

	.closed_nav {
		@include absoluteFullWidth;
		z-index: 999;
		padding: 2rem 0;
		border-bottom: 0.5px solid var(--app-white);
		height: 108px;

		@media (max-width: 1400px) {
			padding: 2rem 2rem;
		}

		&.isOpen {
			@include transitionEffect;
			background-color: var(--background);
			border-bottom-color: var(--background);
		}

		.closed_nav_inner {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			justify-items: stretch;
			max-width: 1360px;
			margin: 0 auto;

			.navbar_hamburger_icon.hamburger_container {
				@media (max-width: 750px) {
					.hamburger_line {
						height: 3px;
						width: 80%;
						background-color: var(--app-white);
						transition: all 0.3s ease-out;
					}
				}
			}

			.logo_container {
				@include transitionEffect;
				justify-self: center;

				&:hover {
					cursor: pointer;
					transform: scale(0.9);
				}
			}

			.social_media_container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 200px;
				margin-right: 2rem;
				justify-self: end;

				.social_media {
					@include transitionEffect;

					&:hover {
						cursor: pointer;
						opacity: 0.5;
					}
				}

				@media screen and (max-width: 750px) {
					display: none;
				}
			}
		}
	}

	.menu {
		@include absoluteFullWidth;
		@include transitionEffect;
		@include flex-space-between;
		flex-direction: column;
		top: 108px;
		height: 0;
		z-index: 1000;

		&.menu_open {
			height: calc(100vh - 108px);
			background-color: var(--background);

			.menu_link_container {
				.menu_item {
					@include transitionEffect;
					opacity: 1;
				}
			}

			.contact_section {
				@include transitionEffect;
				@include flex-center;
				opacity: 1;
				.email_container,
				.phone_container {
					border-left: 1px solid var(--border-grey);
					border-right: 1px solid var(--border-grey);
					opacity: 1;
					padding: 0 2rem;

					.email,
					.phone {
						font-size: 1.5rem;
					}
				}
			}
		}

		.menu_link_container {
			@include flex-center;
			flex-direction: column;
			border: 1px;
			height: 100%;

			.menu_item {
				@include transitionEffect;
				opacity: 0;
				color: var(--description-grey-hover);

				&:hover {
					@include transitionEffect;
					cursor: pointer;
					color: var(--app-white);
				}
			}
		}

		.contact_section {
			@include flex-center;
			width: 97%;
			border-top: 1px solid var(--border-grey);
			padding: 2.5rem 0;
			opacity: 0;

			.email_container,
			.phone_container {
				border-left: 1px solid var(--border-grey);
				border-right: 1px solid var(--border-grey);
				opacity: 0;
				padding: 0 2rem;

				.email,
				.phone {
					@include transitionEffect;
					font-size: 1.5rem;
				}

				&:hover {
					cursor: pointer;
					color: var(--description-grey-hover);
				}
			}
		}
	}
}
