@import "@/styles/mixins";

.container {
	position: relative;
	height: 100vh;
	width: 100%;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(
			to top,
			rgba(6, 6, 6, 1) 0%,
			rgba(6, 6, 6, 0.4) 30%,
			rgba(6, 6, 6, 0.2) 100%
		);
		z-index: 1; // Ensure this is above the image but below the content
	}

	.hero_image {
		z-index: 0;
	}

	.main_hero_content {
		position: absolute;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		width: 100%;
		padding: 0 19rem;

		h1,
		p {
			color: var(--app-white);
			text-align: center;
		}

		.heading_container {
			@include flex-start;
			width: 100%;
		}

		.title_first_line {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;

			.title_company {
				font-size: 6rem;
				padding-right: 2rem;
				color: -var(--app-white);
			}

			.title_line {
				height: 0.4rem;
				width: 15rem;
				background-color: var(--app-white);
				border: 1px solid red;
			}
		}

		.title_name {
			width: 100%;
			font-size: 10rem;
			text-align: start;
		}

		.title_service {
			width: 100%;
			font-size: 4rem;
			text-align: start;
			padding-bottom: 2rem;
		}

		.title_description_container {
			width: 100%;
			font-size: 1.2rem;
			text-align: start;
			line-height: 2rem;
			padding-bottom: 3rem;

			.title_description {
				width: 50%;
				font-size: 1.2rem;
				text-align: start;
			}
		}

		.action_link_container {
			width: 100%;
			@include flex-start;
			flex-direction: row;
		}
	}
}
