@import "@/styles/mixins";

.hero_container {
	@include flex-center;
	// position: relative;
	min-height: 700px;
	height: 100vh;
	// width: 100%;
	border: 1px solid green;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(
			to top,
			rgba(6, 6, 6, 1) 0%,
			rgba(6, 6, 6, 0.4) 30%,
			rgba(6, 6, 6, 0.2) 100%
		);
		z-index: 1;
	}
	.image_container {
		// position: absolute;
		// min-height: 700px;
		// height: 100vh;
		// width: 100%;

		.hero_image {
			z-index: 0;
			object-fit: cover;
		}
	}

	.main_hero_content {
		@include flex-center;
		// position: absolute;
		flex-direction: column;
		width: 100%;
		max-width: 1360px;
		height: 100%;
		z-index: 2;

		@media screen and (max-width: 1400px) {
			padding: 0 12rem;
		}
		@media screen and (max-width: 1000px) {
			padding: 0 7rem;
		}

		@media screen and (max-width: 600px) {
			padding: 0 3rem;
		}

		@media screen and (max-width: 480px) {
			padding: 0 1rem;
		}

		h1,
		p {
			color: var(--app-white);
			text-align: center;
		}

		.hero_heading_container {
			@include flex-start;
			width: 100%;

			.heading_container.hero_heading {
				@media screen and (max-width: 1400px) {
					.heading_text {
						font-size: 4rem;
					}

					.heading_line {
						width: 10rem;
						height: 0.3rem;
					}
				}

				@media screen and (max-width: 750px) {
					.heading_text {
						font-size: 3.8rem;
					}

					.heading_line {
						width: 6rem;
						height: 0.2rem;
					}
				}

				@media screen and (max-width: 670px) {
					.heading_text {
						font-size: 3.3rem;
					}

					.heading_line {
						width: 6rem;
						height: 0.2rem;
					}
				}

				@media screen and (max-width: 470px) {
					.heading_text {
						font-size: 2rem;
						padding-right: 1rem;
					}

					.heading_line {
						width: 3rem;
						height: 0.1rem;
					}
				}

				@media screen and (max-width: 350px) {
					.heading_text {
						font-size: 2rem;
					}

					.heading_line {
						width: 2rem;
						height: 0.1rem;
					}
				}
			}
		}

		.title_first_line {
			width: 100%;
			@include flex-start;

			.title_company {
				font-size: 6rem;
				padding-right: 2rem;
				color: -var(--app-white);
			}

			.title_line {
				height: 0.4rem;
				width: 15rem;
				background-color: var(--app-white);
			}
		}

		.title_name {
			width: 100%;
			font-size: 10rem;
			text-align: start;
		}

		.title_service {
			width: 100%;
			font-size: 4rem;
			text-align: start;
			padding-bottom: 2rem;

			@media screen and (max-width: 1400px) {
				font-size: 3rem;
				padding-bottom: 1rem;
			}

			@media screen and (max-width: 750px) {
				font-size: 2rem;
			}

			@media screen and (max-width: 670px) {
				font-size: 1.8rem;
			}

			@media screen and (max-width: 350px) {
				font-size: 1.3rem;
			}
		}

		.title_description_container {
			width: 100%;
			font-size: 1.2rem;
			text-align: start;
			line-height: 2rem;
			padding-bottom: 3rem;

			.title_description {
				width: 50%;
				font-size: 1.2rem;
				text-align: start;

				@media screen and (max-width: 1400px) {
					font-size: 1rem;
				}
				@media screen and (max-width: 750px) {
					font-size: 0.9rem;
					line-height: 1.5rem;
					width: 80%;
				}

				@media screen and (max-width: 470px) {
					width: 100%;
				}
			}

			@media screen and (max-width: 1400px) {
				padding-bottom: 2rem;
			}
			@media screen and (max-width: 750px) {
				padding-bottom: 1rem;
			}
		}

		.action_link_container {
			width: 100%;
			@include flex-start;
			flex-direction: row;

			.page_link_container.hero_contact_button {
				@media screen and (max-width: 470px) {
					width: 100%;
					margin: 0;
				}
				.page_link_content {
					@media screen and (max-width: 470px) {
						justify-content: space-between;
					}
					.page_link_text {
						@media screen and (max-width: 750px) {
							font-size: 1rem;
						}
					}
				}
			}

			.page_link_container.hero_browse_button {
				@media screen and (max-width: 470px) {
					width: 100%;
					margin: 0;
				}
				.page_link_content {
					@media screen and (max-width: 470px) {
						justify-content: space-between;
					}

					.page_link_text {
						@media screen and (max-width: 750px) {
							font-weight: normal;
							font-size: 1rem;
						}
					}
				}
			}

			@media screen and (max-width: 470px) {
				flex-direction: column;
				margin: 0;
			}
		}
	}
}
