@import "@/styles/mixins";

.container {
	@include flex-space-between;
	transition: all 0.3s ease;
	width: 100%;
	border-bottom: 1px solid #2f2f2f;
	padding: 4rem;

	.left {
		.left_content {
			.rank {
				font-size: 2rem;
			}

			.title_container {
				@include flex-start;
				.title {
					font-size: 3.5rem;
					padding-right: 2rem;
				}
				.chevron {
					font-weight: 100;
				}
			}
		}
	}

	&:hover {
		transform: translateX(0.5rem);
	}
}
