@import "@/styles/mixins";

.container {
	@include flex-space-between;
	width: 100%;
	border-bottom: 1px solid #2f2f2f;
	border: 1px solid red;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
	padding: 4rem;

	.left {
		.left_content {
			.rank {
				font-size: 2rem;
			}

			.title_container {
				@include flex-start;
				.title {
					font-size: 4rem;
					padding-right: 2rem;
				}
				.chevron {
					font-weight: 100;
				}
			}
		}
	}
}
