@import "@/styles/mixins";

.heading_container {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	@media screen and (max-width: 700px) {
		justify-content: center;
	}

	.heading_text {
		font-size: 1.5rem;
	}

	.heading_text {
		color: -var(--app-white);
	}

	.heading_line {
		background-color: var(--app-white);
	}

	@include component_heading_large;
}
