@import "@/styles/mixins";

.line_right_padding {
	padding-right: 2rem;
}

.line_left_padding {
	padding-left: 2rem;
}

.heading_container {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	@media screen and (max-width: 700px) {
		justify-content: center;
	}

	.heading_text {
		font-size: 1.5rem;
	}

	.heading_text {
		font-size: 6rem;
		color: -var(--app-white);
	}

	.heading_line {
		width: 15rem;
		height: 0.4rem;
		background-color: var(--app-white);
	}
}
